  <div class="container-fluid black"> 
  	<div class ="jumbotron">
  <h2>Temecula Points is the best way to earn money to spend at local businesses.</h2>
  <h3>Explore the favorite diners, pastry shops, and eateries in your community.
  <br>Shop and collect points to earn rewards.</h3>
	</div>
	</div>